---
import PostCard from '../../../components/PostCard.astro';
import SidebarContentPost from '../../../components/SidebarContentPost.astro';
import { getLangFromUrl, useTranslations } from '../../../i18n/utils';
import MainLayout from '../../../layouts/MainLayout.astro';
import { slugify } from '../../../scripts/slugify';
import { type CollectionEntry, getCollection } from 'astro:content';



const { category } = Astro.params;


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const allPostsByLanguage: CollectionEntry<'blog'>[]= await getCollection('blog', ({id}) => { return id.startsWith(lang) })
const allCategories: string[]= [...new Set(allPostsByLanguage.map(post => post.data.category).flat())];
const categoryName= allCategories.filter(categoryName => slugify(categoryName) === category);
const categoryPosts= allPostsByLanguage.filter(post => slugify(post.data.category) === category);
---


<MainLayout title={t('categoryPage.heading') + categoryName}>
    <h1 class="md:my-5 my-3 -tracking-wide text-2xl font-bold text-[#3D4FF5] dark:text-[#B2C6FE] flex justify-between items-center">{categoryName}<span class="text-sm font-medium -tracking-normal text-[#71717a] dark:text-[#888C96]">{categoryPosts.length} {t('categoryPage.heading')}</span></h1>
    <section class="flex flex-col" data-pagefind-ignore>
        {
            categoryPosts.map((post) =><PostCard frontmatter={post.data} url={post.slug}/> <hr class="py-2 dark:border-[#424347]"/>)
        }
    </section>
    
   
    <div class="right-[120px] fixed top-[100px] hidden lg:block h-full">
        <h2 class="font-bold text-md -tracking-wide mb-5">{t('categoryPage.headingNav')}</h2>
        <ul class="flex flex-col gap-4">
            {
                allCategories.map((category) =>  
                    <li class="text-[15px] text-[#3D4FF5] dark:text-[#B2C6FE] inline-block" >
                        <a class="font-semibold transition-all duration-150 hover:border-b-[3px] border-[#00c29f] hover:dark:border-[#71faca]" class:list={ {'current-category': categoryName[0] === category}} href={category.toLowerCase()}>{category}</a>
                    </li>)
            }
        </ul>
    </div>

</MainLayout>

<style lang="css">
    .current-category{
        border-bottom: 3px solid #00c29f;
        pointer-events: none;

        html.dark & {
            border-color: #71faca;
        }
    } 
</style>