---
import { formatDate } from "../scripts/dateFormatter";
import { slugify } from "../scripts/slugify";
import EditArticle from "./EditArticle.astro";

const { title, date, author, image, category, file }= Astro.props;
---

<header>
    <div class="mb-7">
        <h1 class="font-bold text-4xl text-center -tracking-wider w-full">{title}</h1>
        <div data-pagefind-ignore class="flex justify-center">
            <p data-pagefind-ignore class=" text-xs text-center mt-3 hidden md:block">por&nbsp;<a href={`/author/${slugify(author)}`} class="underline"> {author}</a>&nbsp;·&nbsp;{formatDate(date)}&nbsp;·&nbsp;<EditArticle {file}/></p>
            <div class="md:hidden">
                <p data-pagefind-ignore class="flex text-xs text-center mt-3">por&nbsp;<a href={`/author/${slugify(author)}`} class="underline"> {author}</a>&nbsp;·&nbsp;{formatDate(date)}</p>
                <div class="flex justify-center">
                    <EditArticle {file}/>
                </div>
            </div>
        </div>
    </div>
    {
        image && ( 
        <img src={image.src} alt={image.alt}/>
    )}
</header>